.category {
    align-content: center;
}
.category-list {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.category-list li {
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.category-content{
    border: 1px solid black;
    padding: 8px;
    margin: 8px;
}
.category-list li.selected:hover {
    background-color: #BBD8DC;
    color: white;
}
.category-list li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.category-list.text {
    position: relative;
    top: -3px;
}